@media screen and (max-width:430px) {
    .logo{
        font-size: 22px;
        padding-left: 20px;
        padding-top: 6px;
    }
    .navitems{
        display: none;
    }
    .burgernav{
        /* display: none; */
        font-size: 55px;
        display: block;
        color: white;


    }
    h1{
        font-size: 30px;
        max-width: 350px;
        
    }
    .menu380px{
        height: 70px;
        position: absolute;
        z-index: 5;
        right: 35px;
        top: -25px;
        display: block;
    }
    .menu380px span{
        background-color: #ff0000;
        height: 5px;
        width: 25px;
        display: block;
        margin-top: 5px;
    
    }
    .btn{
        position: absolute;
        color: white;
        padding: 5px 10px;
        background-color: blue;
        border: 1px solid blue;
        border-radius: 5px;
        text-decoration: none;
        margin-top: 50px;
    }
}