*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
*:focus{
    outline: 2px dotted rgb(39, 153, 153);
    outline-offset: 3px;
}
body{
    font-family: Arial,sans-serif,poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.16200000047683716px;
    /* text-align: left; */
    background-color: rgba(7, 6, 6, 0.774); 


}
.contiener{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.headerbox{
    background-color: rgb(0, 0, 0);
    height: 500px;
    
}
