*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
*:focus{
    outline: 2px dotted aqua;
    outline-offset: 3px;
}
body{
    font-family: Arial,sans-serif,poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.16200000047683716px;
    /* text-align: left; */

}
.contiener{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.headercontiener{
    background-color: rgb(123, 223, 226);
    height: 500px;
    
}
