*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
*:focus{
    /* outline: 2px dotted rgb(39, 153, 153); */
    outline: none;
    outline-offset: 3px;
}
html,
body {
  position: relative;
  height: 100%;
}

body{
    font-family: Arial,sans-serif,poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.16200000047683716px;
    /* text-align: left; */
    background-color: rgba(0, 0, 0, 0.87); 


}
.contiener{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.logo{
    display: flex;
    font-size: 36px;
    margin-right: auto;
    color: azure;
    text-decoration: none;
}
.headercontiener{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-100px);
    animation-name: text1;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-duration: 1.5s;
    animation-delay: 2s;
    /* animation-iteration-count: infinite; */
    /* opacity: 0; */
    animation-fill-mode: both;
    transition: all 2s;
}
@keyframes text1 {
    100%{
        transform: translateY(0px);
    }
}
.navitems{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.navbtn{
    padding: 8px 15px;
    background-color: blue;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
}
.navbtn:hover{
    color: #ffffff;
    text-shadow: none;
    opacity: .8;
}

.items{
    margin-right: 10px;
    list-style: none;
}
.items a{
    color: azure;
    text-decoration: none;
    /* padding: 20px; */
}
.items a:hover{
    color: blue;
}
.items:hover{
    color: blue;
    text-shadow: 1px 1px blue;
}

 .items:active{
    opacity: 0.8;
    border: none;
}
.menu380px{
    height: 70px;
    position: absolute;
    margin-top: 50px;
    z-index: 5;
    right: 100px;
    display: none;
}
.menu380px span{
    background-color: #ffffff;
    height: 5px;
    width: 25px;
    display: block;
    margin-top: 5px;

}

.maxwid{
    transform: translateX(-100%);
    animation-name: text2;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-duration: 1.5s;
    animation-delay: 2s;
    /* animation-iteration-count: infinite; */
    /* opacity: 0; */
    animation-fill-mode: both; 
    transition: all 2s;
}
@keyframes text2 {
    100%{
        transform: translateX(0);
    }
}
.herobox1{
    background-color: rgb(0, 0, 0);
    height: 500px;
    
}

.herobox1{
    background-color: rgb(0, 0, 0);
    height: 500px;
    display: block;
    /* position: static; */
    
}
h1{
    color: white;
    font-size: 54px;
    line-height: normal;
    padding-top: 100px;

}

.btn10{
    padding: 10px 20px;
    background-color: blue;
    border-radius: 10px;
    color: #ffffff;
}
.btn10:hover{
    opacity: .8;
}
.btn10:active{
    opacity: .6;
}
.heroitems{
    display: flex;
}
#premyeralar{
    text-align: center;
    color: #ffffff;
    font-size: 28px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.heroitems{
    display: flex;
    /* justify-content: space-around; */
    margin-bottom: 80px;
}

.heroitems img{
    display: flex;
    border-radius: 3px;
}
.text{
    margin-left: 70px;
}
.text h3{
    margin-top: 25px;
    font-size: 24px;
    color: #ffffff;
}
.text p{
    color: #ffffff;
}

.heroitems1{
    display: flex;
    /* justify-content: space-around; */
    margin-bottom: 80px;
}

.heroitems1 img{
    display: flex;
    border-radius: 3px;
}
.text1{
    margin-right: 70px;
}
.text1 h3{
    margin-top: 25px;
    font-size: 24px;
    color: #ffffff;
}
.text1 p{
    color: #ffffff;
}

.heroitems2{
    display: flex;
    /* justify-content: space-around; */
    margin-bottom: 80px;
}

.heroitems1 img{
    display: flex;
    border-radius: 3px;
}
.text2{
    margin-left: 70px;
}
.text2 h3{
    margin-top: 25px;
    font-size: 24px;
    color: #ffffff;
}
.text2 p{
    color: #ffffff;
}
hr{
    border: 1px solid #ffffff;
    height: 2px;
    background-color: #ffffff;
    width: 100%;
}
.swiper {
    width: 100%;
    height: 450px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgb(0, 0, 0);

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 430px;

  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide {
    margin-left: 20px;
    width: 30%;
  }
  
  .swiper-slide:nth-child(2n) {
    width: 30%;
  }

  .swiper-slide:nth-child(3n) {
    width: 30%;
  }
  .heroitems1 img{
    width: 200px;
    height: 200px;
  }
  .heroitems2 img{
    width: 200px;
    height: 200px;
  }
  .footer__nav__item{
    color: #ffffff;
  }